opencv-python
mediapipe
deepface
librosa
opensmile
webrtcvad
pyaudio
numpy
scipy
pandas
scikit-learn
matplotlib
fastapi
uvicorn
requests
python-dotenv
#torch
transformers
PyYAML
tqdm
pytest
pytest-mock
gradio
streamlit
boto3
sqlalchemy