opencv-python
mediapipe
deepface
librosa
opensmile
webrtcvad
pyaudio
numpy
scipy
pandas
scikit-learn
matplotlib
fastapi
uvicorn
requests
python-dotenv
#torch
transformers
PyYAML
tqdm
pytest
pytest-mock
gradio
streamlit
fastapi==0.95.0
uvicorn[standard]==0.21.1
sqlalchemy==1.4.47
databases[sqlite]==0.6.1
python-dotenv==0.21.0